extends layout

block content
  h1= ui.title
  div#data
    div#container-status
      label Server Status
      p#status Unknown
    div#container-name
      label Server Name
      p#name Unknown
    div#container-players
      label Players Online
      p#players Unknown
  div
    button#refresh(onclick="getStatus()") Refresh Status
  div#control
    p.
      You can start the server on demand. Just log off when you're done.
      The game server will shutdown automatically shortly after there are no connected players.
    p.
      The server will automatically update when it starts.
      This can take a while, so you should start the server before starting your game client.
    span
      label password:
      input#password(type="password")
    div
      button#start(onclick="postRestart('start')") Start Server
      button#restart(title="Do this if the server needs to be patched" onclick="postRestart('restart')") Restart Server

  script(src= ui.basePath + "/js/handlers.js")
  //script(src= basepath + "/public/js/init.js")
  script.
    var basepath = "#{ui.basePath}";
  script.
    getStatus();
  script(src= ui.basePath + '/js/sha1-min.js')
