body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  float: left;
  margin-right: 1em;
  width: 7em;
}

#data label {
  border-bottom-color: darkgray;
  border-bottom-width: 3px;
  border-bottom-style: outset;
}
