body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  color: pink;
  float: left;
  padding-right: 0.25em
}

#data label {
  width: 8em
}